apiVersion: apps/v1
kind: Deployment
metadata:
  name: stockmanager
  namespace: default
spec:
  selector:
    matchLabels:
      app: stockmanager
  replicas: 2
  template:
    metadata:
      labels:
        app: stockmanager
    spec:
      containers:
        - name: stockmanager
          image: taniaduggal60/stockmanager:latest
          ports:
            - containerPort: 8030
          livenessProbe:
            httpGet:
              path: /health
              port: 8030
            initialDelaySeconds: 30
            timeoutSeconds: 1
